In [12]:
import pandas as pd 
import numpy as np
import os

In [13]:
GunLaws = pd.read_csv("GunLawsbyState.csv")

In [14]:
MassShootings = pd.read_csv("MassShootingsbyState.csv")

In [15]:
Registration = pd.read_csv("WeaponsbyState.csv")

In [16]:
GunLawsDF = pd.DataFrame(GunLaws)
GunLawsDF.head()

,State,firearmRegRequired,permitReqToCarry,permitReqToPurchase,openCarryLegal
0,Washington,True,True,False,True
1,New York,True,True,True,False
2,New Jersey,True,True,True,False
3,Michigan,True,True,False,True
4,Maryland,True,True,True,True

In [17]:
MassShootingsDF = pd.DataFrame(MassShootings)
MassShootingsDF = MassShootingsDF.drop(columns="Operations")
MassShootingsDF.head()

,Incident Date,State,City Or County,Address,# Killed,# Injured
0,29-Dec-19,Illinois,Danville,1803 block of Westview Ave,0,5
1,29-Dec-19,New York,Buffalo,50 block of Henrietta Ave,1,3
2,29-Dec-19,California,Ceres,800 block of Allacante Dr,0,5
3,27-Dec-19,California,Modesto,1900 block of Vernon Ave,1,3
4,27-Dec-19,Georgia,Kennesaw,1575 Ridenour Pkwy NW,0,4

In [18]:
RegistrationDF= pd.DataFrame(Registration)
RegistrationDF= RegistrationDF.rename(columns={"Number of registered weapons in the U.S. in 2019, by state": "State"})
RegistrationDF= RegistrationDF.rename(columns={"Unnamed: 1": "Number of Registered Weapons"})
RegistrationDF.head()

          State Number of Registered Weapons
0         Texas                      725,368
1       Florida                      432,581
2    California                      376,666
3      Virginia                      356,963
4  Pennsylvania                      271,427

In [19]:
DF1 = pd.merge(GunLawsDF, RegistrationDF, how="left", on="State")
DF1.head()

,State,firearmRegRequired,permitReqToCarry,permitReqToPurchase,openCarryLegal,Number of Registered Weapons
0,Washington,True,True,False,True,"119,829"
1,New York,True,True,True,False,"82,917"
2,New Jersey,True,True,True,False,"90,217"
3,Michigan,True,True,False,True,"83,355"
4,Maryland,True,True,True,True,"128,289"

In [20]:
DF1.to_csv("GunLawsandRegistration.csv")

In [21]:
DF2 = pd.merge(DF1, MassShootingsDF, how="left", on="State")
DF2 = DF2.rename(columns={"firearmRegRequired":"Registration Required", "permitReqToCarry": "Permit to Carry Required", "permitReqToPurchase":"Permit to Purchase Required", "openCarryLegal": "Open Carry is Legal"})

In [22]:
DF2.to_csv("MergedDF_notclean.csv")

In [23]:
DF2.count()

State                           422
Registration Required           422
Permit to Carry Required        422
Permit to Purchase Required     422
Open Carry is Legal             369
Number of Registered Weapons    422
Incident Date                   411
City Or County                  411
Address                         411
# Killed                        411
# Injured                       411
dtype: int64