In [12]:
import pandas as pd 
import numpy as np
import os

In [13]:
GunLaws = pd.read_csv("GunLawsbyState.csv")

In [14]:
MassShootings = pd.read_csv("MassShootingsbyState.csv")

In [15]:
Registration = pd.read_csv("WeaponsbyState.csv")

In [16]:
GunLawsDF = pd.DataFrame(GunLaws)
GunLawsDF.head()

,State,firearmRegRequired,permitReqToCarry,permitReqToPurchase,openCarryLegal
0,Washington,True,True,False,True
1,New York,True,True,True,False
2,New Jersey,True,True,True,False
3,Michigan,True,True,False,True
4,Maryland,True,True,True,True

In [17]:
MassShootingsDF = pd.DataFrame(MassShootings)
MassShootingsDF = MassShootingsDF.drop(columns="Operations")
MassShootingsDF.head()

,Incident Date,State,City Or County,Address,# Killed,# Injured
0,29-Dec-19,Illinois,Danville,1803 block of Westview Ave,0,5
1,29-Dec-19,New York,Buffalo,50 block of Henrietta Ave,1,3
2,29-Dec-19,California,Ceres,800 block of Allacante Dr,0,5
3,27-Dec-19,California,Modesto,1900 block of Vernon Ave,1,3
4,27-Dec-19,Georgia,Kennesaw,1575 Ridenour Pkwy NW,0,4

In [18]:
RegistrationDF= pd.DataFrame(Registration)
RegistrationDF= RegistrationDF.rename(columns={"Number of registered weapons in the U.S. in 2019, by state": "State"})
RegistrationDF= RegistrationDF.rename(columns={"Unnamed: 1": "Number of Registered Weapons"})
RegistrationDF.head()

          State Number of Registered Weapons
0         Texas                      725,368
1       Florida                      432,581
2    California                      376,666
3      Virginia                      356,963
4  Pennsylvania                      271,427

In [19]:
DF1 = pd.merge(GunLawsDF, RegistrationDF, how="left", on="State")
DF1.head()

,State,firearmRegRequired,permitReqToCarry,permitReqToPurchase,openCarryLegal,Number of Registered Weapons
0,Washington,True,True,False,True,"119,829"
1,New York,True,True,True,False,"82,917"
2,New Jersey,True,True,True,False,"90,217"
3,Michigan,True,True,False,True,"83,355"
4,Maryland,True,True,True,True,"128,289"

In [20]:
DF1.to_csv("GunLawsandRegistration.csv")

In [21]:
DF2 = pd.merge(DF1, MassShootingsDF, how="left", on="State")
DF2 = DF2.rename(columns={"firearmRegRequired":"Registration Required", "permitReqToCarry": "Permit to Carry Required", "permitReqToPurchase":"Permit to Purchase Required", "openCarryLegal": "Open Carry is Legal"})

In [22]:
DF2.to_csv("MergedDF_notclean.csv")

In [26]:
DF2

,State,Registration Required,Permit to Carry Required,Permit to Purchase Required,Open Carry is Legal,Number of Registered Weapons,Incident Date,City Or County,Address,# Killed,# Injured
0,Washington,True,True,False,True,"119,829",21-Nov-19,Everett,120 West Casino Rd,0.0,4.0
1,Washington,True,True,False,True,"119,829",13-Aug-19,Tacoma,E 38th St and E Roosevelt Ave,2.0,3.0
2,Washington,True,True,False,True,"119,829",26-Jul-19,Kennewick,E 10th Ave,1.0,3.0
3,Washington,True,True,False,True,"119,829",8-Jun-19,White Swan,5151 Medicine Valley Rd,5.0,2.0
4,New York,True,True,True,False,"82,917",29-Dec-19,Buffalo,50 block of Henrietta Ave,1.0,3.0
5,New York,True,True,True,False,"82,917",27-Nov-19,Bronx,E 153rd St and Courtlandt Ave,0.0,5.0
6,New York,True,True,True,False,"82,917",12-Oct-19,Brooklyn,75 Utica Ave,4.0,3.0
7,New York,True,True,True,False,"82,917",5-Aug-19,Brooklyn,216 Buffalo Ave,0.0,4.0
8,New York,True,True,True,False,"82,917",27-Jul-19,Brooklyn,1555 Linden Blvd,1.0,11.0
9,New York,True,True,True,False,"82,917",5-Jul-19,Brooklyn,Elton St and Belmont Ave,0.0,4.0
10,New York,True,True,True,False,"82,917",30-Jun-19,Bay Shore,Farragut Ave,0.0,6.0
11,New York,True,True,True,False,"82,917",9-Jun-19,Buffalo,2081 Niagara St,0.0,4.0
12,New York,True,True,True,False,"82,917",6-Feb-19,Brooklyn,1778 Fulton St,1.0,3.0
13,New Jersey,True,True,True,False,"90,217",10-Dec-19,Jersey City,223 Martin Luther King Dr,6.0,3.0
14,New Jersey,True,True,True,False,"90,217",18-Nov-19,Newark,139 S 8th St,1.0,4.0
15,New Jersey,True,True,True,False,"90,217",28-Jun-19,Paterson,50 block of Jefferson St,0.0,4.0
16,New Jersey,True,True,True,False,"90,217",28-Jun-19,Jersey City,167 Armstrong Ave,0.0,4.0
17,New Jersey,True,True,True,False,"90,217",18-Jun-19,Newark,700 block of Dr Martin Luther King Jr Blvd,1.0,4.0
18,New Jersey,True,True,True,False,"90,217",27-May-19,Trenton,100 block of Walnut St,1.0,5.0
19,New Jersey,True,True,True,False,"90,217",25-May-19,Trenton,225 Brunswick Ave,0.0,9.0
20,New Jersey,True,True,True,False,"90,217",5-May-19,North Bergen,2033 45th Street,1.0,4.0
21,New Jersey,True,True,True,False,"90,217",16-Mar-19,Camden,619 Ferry Ave,1.0,3.0
22,New Jersey,True,True,True,False,"90,217",11-Mar-19,Paterson,291 12th Ave,0.0,4.0
23,New Jersey,True,True,True,False,"90,217",26-Jan-19,Newark,612 Bergen St,1.0,3.0
24,Michigan,True,True,False,True,"83,355",1-Dec-19,Kalamazoo,6300 block of Proctor St,1.0,3.0
25,Michigan,True,True,False,True,"83,355",9-Nov-19,Detroit,3800 block of E McNichols Rd,0.0,4.0
26,Michigan,True,True,False,True,"83,355",2-Nov-19,Detroit,7000 block of E. Kirby,1.0,4.0
27,Michigan,True,True,False,True,"83,355",27-Oct-19,Detroit,East Outer Dr and Helen St,0.0,4.0
28,Michigan,True,True,False,True,"83,355",27-Oct-19,Lansing,Balfour Dr and W Miller Rd,1.0,4.0
29,Michigan,True,True,False,True,"83,355",12-Oct-19,Eastpointe,15163 E 10 Mile Rd,1.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...
392,Delaware,False,True,False,True,"5,281",4-May-19,Wilmington,W 27th St and Tatnall St,0.0,4.0
393,Delaware,False,True,False,True,"5,281",7-Apr-19,Wilmington,940 N Pine St,0.0,6.0
394,Colorado,False,True,False,NaN,"112,691",6-Oct-19,Denver,7100 block of Ruth Way,0.0,4.0
395,Colorado,False,True,False,NaN,"112,691",11-Jun-19,Aurora,12500 block of E Kansas Pl,0.0,4.0
396,Colorado,False,True,False,NaN,"112,691",7-May-19,Littleton (Highlands Ranch),8773 S Ridgeline Blvd,1.0,8.0
397,Colorado,False,True,False,NaN,"112,691",10-Mar-19,Denver,15th St and Market St,1.0,4.0
398,Arkansas,False,False,False,True,"108,801",30-Nov-19,Hensley,6500 block of E Sardis Rd,0.0,5.0
399,Arkansas,False,False,False,True,"108,801",10-Nov-19,Little Rock,3000 block of W 12th St,0.0,4.0
400,Arkansas,False,False,False,True,"108,801",2-Mar-19,Pine Bluff,723 East 25th Ave,1.0,4.0
401,Arkansas,False,False,False,True,"108,801",15-Jan-19,Little Rock,5420 Baseline Rd,1.0,4.0
402,Arkansas,False,False,False,True,"108,801",2-Jan-19,Jonesboro,3516 Galaxy St,1.0,3.0
403,Arizona,False,False,False,True,"204,817",1-Nov-19,Tolleson,2434 S 86th Ln,0.0,5.0
404,Arizona,False,False,False,True,"204,817",11-Apr-19,Phoenix,7112 W Minnezona Ave,3.0,2.0
405,Arizona,False,False,False,True,"204,817",24-Mar-19,Phoenix,2202 W McDowell Rd,0.0,7.0
406,Arizona,False,False,False,True,"204,817",19-Mar-19,Phoenix,8526 N 27th Ave,2.0,4.0
407,Arizona,False,False,False,True,"204,817",13-Jan-19,Phoenix,2445 E Van Buren St,1.0,5.0
408,Arizona,False,False,False,True,"204,817",3-Jan-19,Yuma,3800 block of E County 18½ St,1.0,3.0
409,Alaska,False,False,False,True,"20,520",NaN,NaN,NaN,NaN,NaN
410,Alabama,False,True,False,True,"168,265",20-Dec-19,Tuskegee,2900 block of Davison St,2.0,2.0
411,Alabama,False,True,False,True,"168,265",4-Dec-19,Montgomery,500 Eastdale Rd S,2.0,2.0
412,Alabama,False,True,False,True,"168,265",24-Nov-19,Birmingham,7 15th St W,1.0,4.0
413,Alabama,False,True,False,True,"168,265",2-Sep-19,Elkmont,25019 Ridge Road,5.0,0.0
414,Alabama,False,True,False,True,"168,265",1-Sep-19,Valley,502 Boulevard,0.0,7.0
415,Alabama,False,True,False,True,"168,265",30-Aug-19,Mobile,1621 Virginia St,0.0,6.0
416,Alabama,False,True,False,True,"168,265",15-Aug-19,Montgomery,847 N University Dr,2.0,3.0
417,Alabama,False,True,False,True,"168,265",18-May-19,Atmore,100 Martin Luther King Avenue,1.0,8.0
418,Alabama,False,True,False,True,"168,265",28-Apr-19,Birmingham,514 19th St Ensley,0.0,4.0
419,Alabama,False,True,False,True,"168,265",15-Mar-19,Mobile,515 Dauphin Island Pkwy,2.0,4.0
420,Alabama,False,True,False,True,"168,265",22-Feb-19,Birmingham,1100 block of Carnation Dr,2.0,2.0
421,Alabama,False,True,False,True,"168,265",27-Jan-19,Birmingham,Avenue O and Warrior Rd,0.0,5.0