In [67]:
import pandas as pd 
import numpy as np
import os

In [68]:
Original = pd.read_csv("MergedDF_notclean.csv")

In [69]:
Original = Original.dropna()

In [70]:
IncidentCount = Original.groupby('State')[['Incident Date']].count()
IncidentCount = IncidentCount.rename(columns={"Incident Date": "# of Incidents"})

In [71]:
DFT = Original.drop(columns={"Unnamed: 0", "Incident Date", "City Or County", "Address"})

In [72]:
DFTS = DFT.groupby('State')[['# Killed','# Injured']].sum()

In [73]:
DFTS.head()

             # Killed  # Injured
State
Alabama          17.0       47.0
Arizona           7.0       26.0
Arkansas          3.0       20.0
Connecticut       1.0       12.0
Delaware          0.0       10.0

In [74]:
LawsandRegistration = pd.read_csv("GunLawsandRegistration.csv")

In [75]:
LawsandRegistration1 = LawsandRegistration.drop(columns="Unnamed: 0")
LawsandRegistration1.head()

,State,firearmRegRequired,permitReqToCarry,permitReqToPurchase,openCarryLegal,Number of Registered Weapons
0,Washington,True,True,False,True,"119,829"
1,New York,True,True,True,False,"82,917"
2,New Jersey,True,True,True,False,"90,217"
3,Michigan,True,True,False,True,"83,355"
4,Maryland,True,True,True,True,"128,289"

In [77]:
Merge = pd.merge(IncidentCount, DFTS, how="left", on="State")
Merge.head()

             # of Incidents  # Killed  # Injured
State
Alabama                  12      17.0       47.0
Arizona                   6       7.0       26.0
Arkansas                  5       3.0       20.0
Connecticut               3       1.0       12.0
Delaware                  2       0.0       10.0

In [89]:
FinalMerge = pd.merge(Merge, LawsandRegistration1, how="left", on="State")
FinalMerge.head()

,State,# of Incidents,# Killed,# Injured,firearmRegRequired,permitReqToCarry,permitReqToPurchase,openCarryLegal,Number of Registered Weapons
0,Alabama,12,17.0,47.0,False,True,False,True,"168,265"
1,Arizona,6,7.0,26.0,False,False,False,True,"204,817"
2,Arkansas,5,3.0,20.0,False,False,False,True,"108,801"
3,Connecticut,3,1.0,12.0,True,True,True,True,"74,877"
4,Delaware,2,0.0,10.0,False,True,False,True,"5,281"

In [95]:
FinalC = FinalMerge.rename(columns={"firearmRegRequired":"Fire Arm Registration Required","permitReqToCarry":"Permit to Carry Required","permitReqToPurchase":"Permit to Purchase Required",  "openCarryLegal":"Open Carry is Legal",  })

In [107]:
FinalClean = FinalC.rename(columns={"# of Incidents": "Mass Shootings 2019", "# Killed": "Total Killed", "# Injured": "Total Injured"})

In [108]:
FinalClean.head()

,State,Mass Shootings 2019,Total Killed,Total Injured,Fire Arm Registration Required,Permit to Carry Required,Permit to Purchase Required,Open Carry is Legal,Number of Registered Weapons
0,Alabama,12,17.0,47.0,False,True,False,True,"168,265"
1,Arizona,6,7.0,26.0,False,False,False,True,"204,817"
2,Arkansas,5,3.0,20.0,False,False,False,True,"108,801"
3,Connecticut,3,1.0,12.0,True,True,True,True,"74,877"
4,Delaware,2,0.0,10.0,False,True,False,True,"5,281"

In [110]:
Final = FinalClean.set_index("State")
Final

Final.to_csv("FinalClean.csv")

In [111]:
SQLReady = Final.rename(columns={"Mass Shootings 2019":"Mass_Shootings_2019", "Total Killed": "Total_Killed", "Total Injured":"Total_Injured", "Fire Arm Registration Required": "Fire_Arm_Registration_Required", "Permit to Carry Required": "Permit_to_Carry_Required", "Permit to Purchase Required":"Permit_to_Purchase_Required", "Open Carry is Legal":"Open_Carry_is_Legal", "Number of Registered Weapons", "Number_of_Registered_Weapons"})

,Mass Shootings 2019,Total Killed,Total Injured,Fire Arm Registration Required,Permit to Carry Required,Permit to Purchase Required,Open Carry is Legal,Number of Registered Weapons
State,,,,,,,,
Alabama,12,17.0,47.0,False,True,False,True,"168,265"
Arizona,6,7.0,26.0,False,False,False,True,"204,817"
Arkansas,5,3.0,20.0,False,False,False,True,"108,801"
Connecticut,3,1.0,12.0,True,True,True,True,"74,877"
Delaware,2,0.0,10.0,False,True,False,True,"5,281"
Florida,15,20.0,54.0,False,True,False,False,"432,581"
Georgia,19,16.0,74.0,False,True,False,True,"225,993"
Illinois,41,28.0,182.0,False,True,True,False,"147,698"
Indiana,10,6.0,49.0,False,True,False,True,"133,594"
Iowa,3,3.0,11.0,False,True,True,True,"36,540"
Kansas,4,5.0,16.0,False,False,False,True,"54,409"
Kentucky,5,6.0,18.0,False,True,False,True,"93,719"
Louisiana,26,20.0,106.0,False,True,False,True,"116,398"
Maryland,21,12.0,85.0,True,True,True,True,"128,289"
Massachusetts,5,7.0,17.0,False,True,True,True,"39,886"
Michigan,9,8.0,35.0,True,True,False,True,"83,355"
Minnesota,2,1.0,12.0,False,True,True,True,"98,585"
Mississippi,6,8.0,21.0,False,False,False,True,"52,346"
Missouri,18,20.0,60.0,False,False,False,True,"88,270"
Montana,2,5.0,4.0,False,False,False,True,"23,476"
Nebraska,1,0.0,4.0,False,True,True,True,"29,753"
Nevada,3,1.0,12.0,False,True,False,True,"96,822"
New Jersey,11,12.0,47.0,True,True,True,False,"90,217"
New Mexico,5,8.0,17.0,False,True,False,True,"105,836"
New York,9,7.0,43.0,True,True,True,False,"82,917"
North Carolina,11,13.0,40.0,False,True,True,True,"181,209"
Ohio,14,20.0,61.0,False,True,False,True,"175,819"
Oklahoma,4,5.0,12.0,False,True,False,True,"83,112"
Oregon,1,0.0,5.0,False,True,False,True,"74,722"
Pennsylvania,19,13.0,84.0,False,True,False,True,"271,427"
South Carolina,10,10.0,42.0,False,True,False,False,"99,283"
Tennessee,7,3.0,31.0,False,True,False,True,"121,140"
Texas,31,72.0,147.0,False,True,False,True,"725,368"
Virginia,10,21.0,41.0,False,True,False,True,"356,963"
Washington,4,8.0,12.0,True,True,False,True,"119,829"
Wisconsin,3,5.0,10.0,False,True,False,True,"79,639"
Wyoming,1,2.0,2.0,False,False,False,True,"134,050"